#blurtube-overlay {
    position: fixed;
    top: 56px;
    left: 0px;
    width: 100%;
    height: calc(100vh - 56px);
    backdrop-filter: blur(10px);
    z-index: 9999;
    pointer-events: auto;
    transition: "backdrop-filter 0.4s ease, background 0.4s ease";
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;
}

#warning {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 70px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 6px;
    padding: 8px;
    border-radius: 10px;
    background-color: rgb(43, 42, 42);
    color: white;
    z-index: 100000;
    font-size: medium;
}

#warning-ok {
    background-color: rgb(115, 112, 112);
    color: white;
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    width: 80px;
    height: 25px;
    font-size: medium;
    display: flex;
    align-items: center;
    justify-content: center;
    font: bold;
}