#blurtube-overlay {
    position: fixed;
    top: 52px;
    left: 0px;
    width: 100%;
    height: calc(100vh - 56px);
    backdrop-filter: blur(10px);
    z-index: 9999;
    pointer-events: auto;
    transition: "backdrop-filter 0.4s ease, background 0.4s ease";
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;
}

#reminder {
    position: fixed;
    top: 8px;
    left: 50%;
    transform: translateX(-50%);
    width: 250px;
    height: 70px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    gap: 6px;
    padding: 8px;
    border-radius: 10px;
    background-color: rgb(43, 42, 42);
    color: white;
    z-index: 100000;
    font-size: medium;
    box-shadow: 0 8px 30px rgba(46, 46, 46, 0.4);
    animation: slideDown 0.25s ease-out;
}

#reminder-button {
    background-color: rgb(115, 112, 112);
    color: white;
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    width: 80px;
    height: 25px;
    font-size: medium;
    display: flex;
    align-items: center;
    justify-content: center;
    font: bold;
    align-self: flex-end;
}

#reminder-button:hover {
    background-color: rgb(158, 157, 157);
}

#reminder-backdrop {
    position: fixed;
    inset: 0;
    z-index: 99999;
    background: rgba(0, 0, 0, 0.5);
}

@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateX(-50%) translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateX(-50%) translateY(0);
    }
}